
*.cache
*.pdb
CustomSpawns/**/*.dll
obj/Debug/CustomSpawns.dll
obj/Debug/CustomSpawns.pdb
obj/Debug/CustomSpawns.dll
obj/Debug/CustomSpawns.pdb
.idea
*.user
Modules/CustomSpawns/Logs/RudimentaryLastSessionLog.txt
Modules/CustomSpawns/Logs/RudimentaryLastSessionLog.txt
