<?xml version="1.0" encoding="utf-8"?>
<Config>
	<IsDebugMode> false </IsDebugMode>

	<ShowAIDebug> false </ShowAIDebug>
	<ShowDeathTrackDebug> true </ShowDeathTrackDebug>

	<IsAllSpawnMode> false </IsAllSpawnMode>

	<SpawnAtOneHideout> false </SpawnAtOneHideout>
	<ModifyPartySpeeds> true </ModifyPartySpeeds>

	<IsRemovalMode> false </IsRemovalMode>

	<SameErrorShowUntil> 2 </SameErrorShowUntil> <!-- The same error will be shown in the log if it exceeds this number in one play time. -->

	<SpawnChanceFlatMultiplier> 1 </SpawnChanceFlatMultiplier>
</Config>